In [1]:
a = 10
b = 4
c = 88
'a={}, b={}, c={}'.format(a,b,c)

'a=10, b=4, c=88'

In [2]:
'     python is fun    '.strip()

'python is fun'

In [3]:
s = "malayalam"
s == s[::-1]

True

In [4]:
s = "abc$cu"
s.split("$")

['abc', 'cu']

In [5]:
s = "my name"
s.split()

['my', 'name']

In [7]:
n = int(input("\n Enter number"))
fact = 1

for i in range(1,n+1):
    fact = fact * i

print ("Factorial is: ",end = " ")
print(fact)

 Enter number5
Factorial is:  120

In [8]:
d = {'a':100, 'b':20, 'c':30, 'e':20, 'k':{'x':10}, 'v':[1,2,3]}

In [9]:
d['v'][0:3]

[1, 2, 3]

In [10]:
tp = ((1,2,3),7,(45,66,67),(6,7,9),[1,2,44,6],{'1':1})

In [11]:
for i in tp:
    if isinstance(i, tuple):
        print(i)

(1, 2, 3)
(45, 66, 67)
(6, 7, 9)

In [12]:
for i in tp:
    if isinstance(i, tuple):
        print(i)
        for j in i:
            print(j)

(1, 2, 3)
1
2
3
(45, 66, 67)
45
66
67
(6, 7, 9)
6
7
9

In [13]:
tp[1]

7

In [15]:
id(tp)

2798345094720

In [1]:
"hi"

'hi'

In [2]:
emp_info = {}

while True:
    print("1. Create Employee records")
    print("2. Update the Employee details")
    print("3. Delete employee record")
    print("4. Display")
    print("5. Exit")
    ch = int(input("Enter your choice[1-5]: "))
    if ch == 1:
        name = input("Enter the Employee name: ")
        emp_id = int(input("Enter the Employee id: "))
        ph = input("Enter the phone number: ")
        tech = input("Technologies[comma seperated ed: C++, Python, .Net] ")
        emp_info[emp_id] = {"name" : name, "phone" : ph, "tech" : tech.split(',')}
    elif ch == 2:
        who = int(input("Whoes details you want to update ?, Please enter the emp_id: "))
        rec = emp_info[who]
        for field, value in rec.items():
            new = input('{}({})'.format(field, value))
            emp_info[who][field] = value if new == '' else new
    elif ch == 3:
        pass
    elif ch == 4:
        print(emp_info)
    else:
        break

1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 1
Enter the Employee name: Ayush
Enter the Employee id: 101
Enter the phone number: 222222222
Technologies[comma seperated ed: C++, Python, .Net] C++,Java,Python
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 4
{101: {'name': 'Ayush', 'phone': '222222222', 'tech': ['C++', 'Java', 'Python']}}
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 2
Whoes details you want to update ?, Please enter the emp_id: 101
name(Ayush)Ayush Srivastava
phone(222222222)
tech(['C++', 'Java', 'Python']).Net
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 4
{101: {'name': 'Ayush Srivastava', 'phone': '222222222', 'tech': '.Net'}}
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 5

In [ ]:
emp_info = {}

while True:
    print("1. Create Employee records")
    print("2. Update the Employee details")
    print("3. Delete employee record")
    print("4. Display")
    print("5. Exit")
    ch = int(input("Enter your choice[1-5]: "))
    if ch == 1:
        name = input("Enter the Employee name: ")
        emp_id = int(input("Enter the Employee id: "))
        ph = input("Enter the phone number: ")
        tech = input("Technologies[comma seperated ed: C++, Python, .Net] ")
        emp_info[emp_id] = {"name" : name, "phone" : ph, "tech" : tech.split(',')}
    elif ch == 2:
        who = int(input("Whoes details you want to update ?, Please enter the emp_id: "))
        rec = emp_info[who]
        for field, value in rec.items():
            new = input('{}({})'.format(field, value))
            emp_info[who][field] = value if new == '' else new
    elif ch == 3:
        who = int(input("Enter emp_id to delete Employee details: "))
        if who in emp_info:
            del emp_info[who]
            print("Deleted")
        else:
            print("Record Not Found! ")
    elif ch == 4:
        print(emp_info)
    else:
        break

In [ ]:
emp_info = {}

while True:
    print("1. Create Employee records")
    print("2. Update the Employee details")
    print("3. Delete employee record")
    print("4. Display")
    print("5. Exit")
    ch = int(input("Enter your choice[1-5]: "))
    if ch == 1:
        name = input("Enter the Employee name: ")
        emp_id = int(input("Enter the Employee id: "))
        ph = input("Enter the phone number: ")
        tech = input("Technologies[comma seperated ed: C++, Python, .Net] ")
        emp_info[emp_id] = {"name" : name, "phone" : ph, "tech" : tech.split(',')}
    elif ch == 2:
        who = int(input("Whoes details you want to update ?, Please enter the emp_id: "))
        rec = emp_info[who]
        for field, value in rec.items():
            new = input('{}({})'.format(field, value))
            emp_info[who][field] = value if new == '' else new
    elif ch == 3:
        who = int(input("Enter emp_id to delete Employee details: "))
        if who in emp_info:
            del emp_info[who]
            print("Deleted")
        else:
            print("Record Not Found! ")
    elif ch == 4:
        print(emp_info)
    else:
        break

In [ ]:
emp_info = {}

while True:
    print("1. Create Employee records")
    print("2. Update the Employee details")
    print("3. Delete employee record")
    print("4. Display")
    print("5. Exit")
    ch = int(input("Enter your choice[1-5]: "))
    if ch == 1:
        name = input("Enter the Employee name: ")
        emp_id = int(input("Enter the Employee id: "))
        ph = input("Enter the phone number: ")
        tech = input("Technologies[comma seperated ed: C++, Python, .Net] ")
        emp_info[emp_id] = {"name" : name, "phone" : ph, "tech" : tech.split(',')}
    elif ch == 2:
        who = int(input("Whoes details you want to update ?, Please enter the emp_id: "))
        rec = emp_info[who]
        for field, value in rec.items():
            new = input('{}({})'.format(field, value))
            emp_info[who][field] = value if new == '' else new
    elif ch == 3:
        who = int(input("Enter emp_id to delete Employee details: "))
        if who in emp_info:
            del emp_info[who]
            print("Deleted")
        else:
            print("Record Not Found! ")
    elif ch == 4:
        print(emp_info)
    else:
        break

In [ ]:
{"hi"}

In [ ]:
"hi"

In [ ]:
print("hello")

In [ ]:
s

In [ ]:
for i in range(10):
    print(i)

In [1]:
"hi"

'hi'

In [2]:
emp_info = {}

while True:
    print("1. Create Employee records")
    print("2. Update the Employee details")
    print("3. Delete employee record")
    print("4. Display")
    print("5. Exit")
    ch = int(input("Enter your choice[1-5]: "))
    if ch == 1:
        name = input("Enter the Employee name: ")
        emp_id = int(input("Enter the Employee id: "))
        ph = input("Enter the phone number: ")
        tech = input("Technologies[comma seperated ed: C++, Python, .Net] ")
        emp_info[emp_id] = {"name" : name, "phone" : ph, "tech" : tech.split(',')}
    elif ch == 2:
        who = int(input("Whoes details you want to update ?, Please enter the emp_id: "))
        rec = emp_info[who]
        for field, value in rec.items():
            new = input('{}({})'.format(field, value))
            emp_info[who][field] = value if new == '' else new
    elif ch == 3:
        who = int(input("Enter emp_id to delete Employee details: "))
        if who in emp_info:
            del emp_info[who]
            print("Deleted")
        else:
            print("Record Not Found! ")
    elif ch == 4:
        print(emp_info)
    else:
        break

1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 1
Enter the Employee name: 1
Enter the Employee id: Aks

ValueError: invalid literal for int() with base 10: 'Aks'

In [3]:
emp_info = {}

while True:
    print("1. Create Employee records")
    print("2. Update the Employee details")
    print("3. Delete employee record")
    print("4. Display")
    print("5. Exit")
    ch = int(input("Enter your choice[1-5]: "))
    if ch == 1:
        name = input("Enter the Employee name: ")
        emp_id = int(input("Enter the Employee id: "))
        ph = input("Enter the phone number: ")
        tech = input("Technologies[comma seperated ed: C++, Python, .Net] ")
        emp_info[emp_id] = {"name" : name, "phone" : ph, "tech" : tech.split(',')}
    elif ch == 2:
        who = int(input("Whoes details you want to update ?, Please enter the emp_id: "))
        rec = emp_info[who]
        for field, value in rec.items():
            new = input('{}({})'.format(field, value))
            emp_info[who][field] = value if new == '' else new
    elif ch == 3:
        who = int(input("Enter emp_id to delete Employee details: "))
        if who in emp_info:
            del emp_info[who]
            print("Deleted")
        else:
            print("Record Not Found! ")
    elif ch == 4:
        print(emp_info)
    else:
        break

1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 1
Enter the Employee name: Aks
Enter the Employee id: 111
Enter the phone number: 323234
Technologies[comma seperated ed: C++, Python, .Net] cpp,sdaf
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 4
{111: {'name': 'Aks', 'phone': '323234', 'tech': ['cpp', 'sdaf']}}
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 3
Enter emp_id to delete Employee details: 111
Deleted
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 5

In [4]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
[x for x in range(10) if x%2 == 0]

[0, 2, 4, 6, 8]

In [6]:
n = [1,2,3,4,5,6,7,8]

num = int(input("Enter a index for which you want to see square: "))
squares = []
for num in n:
    squares.append(num**2)
idx_pos = n.index(num)
print(squares[idx_pos])

Enter a index for which you want to see square: 7
64

In [8]:
num = int(input("Emter the index for which you want to see square: "))
sq = [num**2 for num in n]
idx_pos = n.index(num)
print(sq[idx_pos])

Emter the index for which you want to see square: 4
16

In [9]:
{k:k**2 for k in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
#convert tuple to dict

# {0:45, 1:77, 2:109, 4:data, 4:[]}
tp = (45, 77, 109, 'data', ["raj", "rohan"])

In [11]:
{k:tp[k] for k in range(len(tp))}

{0: 45, 1: 77, 2: 109, 3: 'data', 4: ['raj', 'rohan']}

In [12]:
# second logic

(tp.index(v):v for v in tp))

SyntaxError: invalid syntax (Temp/ipykernel_9812/317753760.py, line 3)

In [13]:
{tp.index(v):v for v in tp}

{0: 45, 1: 77, 2: 109, 3: 'data', 4: ['raj', 'rohan']}

In [14]:
# reverse element of tuple

new_tp = tp[::-1]
print(new_tp)

(['raj', 'rohan'], 'data', 109, 77, 45)

In [15]:
s = {2,4,6,8,90,88,92,91}

In [16]:
type(s)

set

In [17]:
lst = [1,1,1,2,2,2,3,4,5]

In [18]:
lst

[1, 1, 1, 2, 2, 2, 3, 4, 5]

In [19]:
set(lst)

{1, 2, 3, 4, 5}

In [20]:
s.add(100)

In [21]:
s

{2, 4, 6, 8, 88, 90, 91, 92, 100}

In [22]:
lst = [34,6,7,5,3,2,(88,),4,5,7,8,9,4,3,'hi',5,(7,97,7),4,2]

In [23]:
set(lst)

{(7, 97, 7), (88,), 2, 3, 34, 4, 5, 6, 7, 8, 9, 'hi'}

In [24]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {5,6,7,8,9,10,11,12}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [25]:
s1.difference(s2)

{1, 2, 3, 4}

In [26]:
s2.difference(s1)

{9, 10, 11, 12}

In [27]:
s1.intersection(s2)

{5, 6, 7, 8}

In [28]:
s1-s2

{1, 2, 3, 4}

In [30]:
s2-s1

{9, 10, 11, 12}

In [31]:
s1.pop()

1

In [32]:
dir(s1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [35]:
s1.remove(2)

In [36]:
s1

{3, 4, 5, 6, 7, 8}

In [37]:
s3 = {5,6}

In [38]:
s3.issubset(s1)

True

In [39]:
s1.issubset(s3)

False

In [40]:
s1.issuperset(s3)

True

In [42]:
def greeting(name, age):
    print("hello %s" % name)
    print("Welcome to python")
    print("Your age is %s" %age)

In [43]:
greeting('ayush',22)

hello ayush
Welcome to python
Your age is 22

In [45]:
def greeting(name, age):
    print("hello %s" % name)
    print("Welcome to python")
    if isinstance(age, (int, float)):
        print(age)

In [47]:
greeting('aks',11)

hello aks
Welcome to python
11

In [48]:
def greeting(name = '',age =25):
    """
    this function is responsible to greet people
    """
    print("Hello {}".format(name))
    print("Welcome to python")
    if isinstance(age,(int, float)):
        print("age", age)

In [49]:
greeting('ayush')

Hello ayush
Welcome to python
age 25

In [50]:
def greeting(name = '',age =25):
    """
    this function is responsible to greet people
    
    """
    print("Hello {}".format(name))
    print("Welcome to python")
    if isinstance(age,(int, float)):
        print("age", age)

In [51]:
greeting('aks',21)

Hello aks
Welcome to python
age 21

In [52]:
greeting(21,'aks')

Hello 21
Welcome to python

In [54]:
greeting(age = 21, name = "aks")

Hello aks
Welcome to python
age 21

In [55]:
def greeting(name, age, phone="00000", address="pune"):
    """
    this function is responsible to greet people
    
    """
    print("Name {}".format(name))
    print("age {}".format(age))
    print("Phone {}".format(phone))
    print("address %s" % address)

In [56]:
greeting('aks',25)

Name aks
age 25
Phone 00000
address pune

In [57]:
greeting('aks',25,1221121,'Lko')

Name aks
age 25
Phone 1221121
address Lko

In [61]:
def greeting(*args, phone = "11111", address = "Pune"):
    print("Complete args {}".format(args))
    print("Hello {}".format(args[0]))
    print("age {}".format(args[1]))
    print("phone ", phone)
    print("address ", address)

In [59]:
greeting('aks',18,phone='00000', Address = 'lko')

TypeError: greeting() got an unexpected keyword argument 'Address'

In [2]:
def greeting(*args, phone = "11111", address = "Pune"):
    print("Complete args {}".format(args))
    print("Hello {}".format(args[0]))
    print("age {}".format(args[1]))
    print("phone ", phone)
    print("address ", address)

In [3]:
greeting('aks',18,phone='00000', address = 'lko')

Complete args ('aks', 18)
Hello aks
age 18
phone  00000
address  lko

In [4]:
greeting('aks',18,phone='00000', address = "lko")

Complete args ('aks', 18)
Hello aks
age 18
phone  00000
address  lko

In [65]:
greeting('aks',18,phone='00000', address = 'lko')

Complete args ('aks', 18)
Hello aks
age 18
phone  00000
address  lko

In [66]:
greeting('aks',18,'rohana',"101","name",{"1":1},phone='00000', address = 'lko')

Complete args ('aks', 18, 'rohana', '101', 'name', {'1': 1})
Hello aks
age 18
phone  00000
address  lko

In [67]:
def get_data(name, *args, phone="0000", address = "Pune"):
    print("name", name)
    print("args", args)
    print("phone", phone)
    print("address", address)

In [68]:
get_data('aks',"IT", "Lucknow", phone="123324", address = "lko")

name aks
args ('IT', 'Lucknow')
phone 123324
address lko

In [69]:
def get_data(name, *args, **kwargs):
    print("name ", name)
    print("args ", args)
    print("kwargs ", kwargs)

In [70]:
get_data('aks', 90904, "IT", "Banglore", phone = "1214233", location = "Pune")

name  aks
args  (90904, 'IT', 'Banglore')
kwargs  {'phone': '1214233', 'location': 'Pune'}

In [73]:
def get_data(name, *args, **kwargs):
    print("name ", name)
    print("args ", args)
    print("Phone ", kwargs['phone'])

In [72]:
get_data('aks', 90904, "IT", "Banglore", phone = "1214233", location = "Pune")

name  aks
args  (90904, 'IT', 'Banglore')
kwargs  1214233

In [74]:
get_data('aks', 90904, "IT", "Banglore", phone = "1214233", location = "Pune")

name  aks
args  (90904, 'IT', 'Banglore')
Phone  1214233

In [75]:
def get_data(name, *args, dis = 100, **kwargs):
    print("name ", name)
    print("args ", args)
    print("Phone ", kwargs['phone'])
    print("Discount ", dis)

In [76]:
get_data('aks', 90904, "IT", "Banglore",dis = 200, phone = "1214233", location = "Pune")

name  aks
args  (90904, 'IT', 'Banglore')
Phone  1214233
Discount  200

In [5]:
i=1
n = input("Enter number: ")
for i in n:
    print(i)

Enter number: 10
1
0

In [86]:
def dis_natural_no(n):
    i=1
    for i in range(1,n+1):
        print(i)

In [85]:
dis_natural_no(5)

1
2
3
4
5

In [89]:
def dis_natural_no(n):
    i=1
    for i in range(1,n+1):
        print(i)
dis_natural_no(7)

1
2
3
4
5
6
7

In [88]:
dis_natural_no(10)

1
2
3
4
5
6
7
8
9
10

In [90]:
def square(x):
    return x**2

In [91]:
square(10)

100

In [92]:
# lambda args: expression

x = lambda x: x**2

In [93]:
x(10)

100

In [94]:
list(map(square,(2,4,5,8,9)))

[4, 16, 25, 64, 81]

In [95]:
# map(function, [], ())

In [96]:
list(map(str.upper,['python', 'is', 'fun']))

['PYTHON', 'IS', 'FUN']

In [97]:
for w in ['python', 'is', 'fun']:
    print(w.upper())

PYTHON
IS
FUN

In [98]:
def func():
    x1=4
    print(x1)

In [99]:
func()

4

In [100]:
def func():
    global x1
    x1=4
    print(x1)

In [101]:
func()

4

In [102]:
x1

4

In [103]:
def outer():
    i=10
    j=8
    def inner():
        print(i)
        print("i am inner function")
    def inner2():
        print(j)
        print("second inner")
    inner()
    inner2()
    return inner, inner2

In [104]:
p = outer()

10
i am inner function
8
second inner

In [105]:
p[0]()

10
i am inner function

In [106]:
p[1]()

8
second inner

In [109]:
dir(p)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [110]:
def outer(f):
    def inner():
        result = f()
        return result ** 2
    return inner

In [111]:
def num():
    return 5

In [112]:
r = outer(num)

In [113]:
r

In [114]:
r()

25

In [115]:
@outer
def num():
    return 5

In [116]:
num()

25

In [117]:
def outer(f):
    def inner(n1,n2):
        result = f(n1,n2)
        return result **2
    return inner

In [118]:
@outer
def num(n1,n2):
    return n1+n2+5

In [119]:
num(1,2)

64

In [124]:
def validate(func):
    def validator(*args, **kwargs):
        if len(args)>1:
            if args[1] == 0:
                print("we are expecting non zero number")
                return None
            else:
                power = func(args[0],args[1])
                return power
        else:
            print("Invalid args")
    return validator

In [125]:
import math

In [126]:
@validate
def mypower(x,y):
    return math.pow(x,y)

In [129]:
mypower(10,0)

we are expecting non zero number

In [130]:
mypower(10,2)

100.0

In [131]:
mypower(10)

Invalid args

In [1]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8, 10]

In [3]:
list_1 = [1,2,3,4,5,6,7,8,9]
list(map(lambda x: pow(x,3), list_1))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [8]:
# general purpose decorators

def a_decorator_passing_arbitrary_arguments(function_to_decorate):
    
    def a_wrapper_accepting_arbitrary_arguments(*args, **kwargs):
        print("The positional arguments are ", args)
        print("The keyword arguments are ", kwargs)
        function_to_decorate(*args)
    
    return a_wrapper_accepting_arbitrary_arguments

@a_decorator_passing_arbitrary_arguments
def function_with_no_arguments():
    print("No arguments here....")

In [9]:
function_with_no_arguments()

The positional arguments are  ()
The keyword arguments are  {}
No arguments here....

In [20]:
# passing positional arguments to decorators
def accept_the_arguments(function_to_decorator):
    def inner_function(*args, **kwargs):
        print("positional arguments are", args)
        print("The Keyword arguments are", kwargs)
        function_to_decorator(*args)
    return inner_function

@accept_the_arguments
def function_with_args(a,b,c):
    print(a,b,c)

function_with_args(10,20,30)

positional arguments are (10, 20, 30)
The Keyword arguments are {}
10 20 30

In [21]:
function_with_args(10,20,30)

positional arguments are (10, 20, 30)
The Keyword arguments are {}
10 20 30

In [19]:
# passing positional arguments to decorators
def accept_the_arguments(function_to_decorator):
    def inner_function(*args, **kwargs):
        print("positional arguments are", args)
        print("The Keyword arguments are", kwargs)
        function_to_decorator(*args)
    return inner_function

@accept_the_arguments
def function_with_args(a,b,c):
    print(a,b,c)

function_with_args(10,20,30)

positional arguments are (10, 20, 30)
The Keyword arguments are {}
10 20 30

In [24]:
# passing kwargs based arguments

def accepting_kwargs(function_to_decorator):
    def inner_function(*args, **kwargs):
        print("args values ", args)
        print("positional args ", kwargs)
        function_to_decorator(*args, **kwargs)
    return inner_function

@accepting_kwargs
def function_with_args(*args, **kwargs):
    print("Inside function args", args)
    print("kwargs..", kwargs)

In [25]:
function_with_args(1,2,3,name = "aks", address = "lko")

args values  (1, 2, 3)
positional args  {'name': 'aks', 'address': 'lko'}
Inside function args (1, 2, 3)
kwargs.. {'name': 'aks', 'address': 'lko'}

In [26]:
# passing argument to decorator

def decorator_with_args(decorator_args1, decorator_args2, decorator_args3):
    
    def decorator(func):
        def wrapper(function_args1, function_args2, function_args3):
            print("The wrapper can access all the variables\n"
                  "\t from the decorator maker:{0} {1} {2} \n"
                  "\t from the function call:{3} {4} {5} \n"
                 "and pass them into decorator function".format(decorator_args1,
                                                                decorator_args2,
                                                                decorator_args3,
                                                                function_args1,
                                                                function_args2,
                                                                function_args3
                                                                ))
            return func(function_args1,function_args2,function_args3)
        return wrapper
    return decorator

pandas = "Pandas"
@decorator_with_args(pandas, "Numpy", "Sciki-learn")
def actual_function(function_args1, function_args2, function_args3):
    print("This is decorated function and it only knows its args: {0}, {1}, {2}".format(
        function_args1, function_args2, function_args3))

In [27]:
actual_function("John", "Science", "Tools")

The wrapper can access all the variables
	 from the decorator maker:Pandas Numpy Sciki-learn
	 from the function call:John Science Tools
and pass them into decorator function
This is decorated function and it only knows its args: John, Science, Tools

In [28]:
def count_digit(num):
    count = 0
    while num != 0:
        num //=10
        count += 1
    
    print("Number of Digits: " + str(count))

In [30]:
count_digit(1234)

Number of Digits: 4

In [31]:
# chaining of decorator

from functools import wraps
#code for testing decorator chaining

def decor1(func):
    def inner():
        x = func()
        print("X in decor 2nd", x)
        return x*x # logic doing mul
    return inner

def decor(func):
    def inner():
        x = func()
        print("X in decor 1", x)
        return 2*x # multiply with 2
    return inner

@decor1
@decor
def num():
    return 10

In [32]:
num()

X in decor 1 10
X in decor 2nd 20

400

In [35]:
def simple_func(): # define
    print("hi")    # logic1
    print('hello') # 2
    return 'hello' # 3 manupulation
                   # return computed
                     # logic...
simple_func()

hi
hello

'hello'

In [37]:
type(simple_func)

function

In [38]:
def simple_generator():
    print("hi")
    yield 'hello'
    x = 10
    y = x + 5
    print(y)
    yield "Hello World"
    yield x

In [48]:
ret = simple_generator()

In [49]:
ret

In [41]:
for val in ret:
    print(val)

hi
hello
15
Hello World
10

In [46]:
list(ret)

hi
15

['hello', 'Hello World', 10]

In [50]:
next(ret)

hi

'hello'

In [51]:
next(ret)

15

'Hello World'

In [52]:
next(ret)

10

In [57]:
def fib(n):
    numbers = []
    first,second = 0,1
    while first < n:
        numbers.append(first)
        first, second = second, first+second
    print(numbers)

In [58]:
fib(10)

[0, 1, 1, 2, 3, 5, 8]

In [59]:
def fib(n):
    first, second = 0,1
    while n:
        yield first
        first, second = second, first+second
        n -= 1

In [60]:
ret = fib(50)

In [61]:
ret

In [62]:
next(ret)

0

In [63]:
next(ret)

1

In [65]:
list(ret)

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049]

In [77]:
import random
name = ["abc", "mno", "qrs", "wxy"]
designation = ["mgr", "se", "sse", "admin", "hr", "fin"]

def people_list():
    people = []
    for i in range(100000):
        person = {"id":i , "name":random.choice(name), "designations": random.choice(designation)}
        people.append(person)
    return people

def people_generator():
    people = []
    for i in range(100000):
        person = {"id":i , "name":random.choice(name), "designations": random.choice(designation)}
        people.append(person)
    yield people

In [69]:
p = people_list()
p[:2]

[{'id': 0, 'name': 'abc', 'designations': 'sse'},
 {'id': 1, 'name': 'qrs', 'designations': 'mgr'}]

In [78]:
ret = people_generator()

In [79]:
ret

In [80]:
next(ret)

[{'id': 0, 'name': 'qrs', 'designations': 'hr'},
 {'id': 1, 'name': 'wxy', 'designations': 'admin'},
 {'id': 2, 'name': 'qrs', 'designations': 'sse'},
 {'id': 3, 'name': 'mno', 'designations': 'se'},
 {'id': 4, 'name': 'abc', 'designations': 'se'},
 {'id': 5, 'name': 'mno', 'designations': 'sse'},
 {'id': 6, 'name': 'abc', 'designations': 'se'},
 {'id': 7, 'name': 'qrs', 'designations': 'sse'},
 {'id': 8, 'name': 'abc', 'designations': 'admin'},
 {'id': 9, 'name': 'mno', 'designations': 'hr'},
 {'id': 10, 'name': 'qrs', 'designations': 'fin'},
 {'id': 11, 'name': 'qrs', 'designations': 'hr'},
 {'id': 12, 'name': 'qrs', 'designations': 'se'},
 {'id': 13, 'name': 'wxy', 'designations': 'fin'},
 {'id': 14, 'name': 'mno', 'designations': 'se'},
 {'id': 15, 'name': 'qrs', 'designations': 'admin'},
 {'id': 16, 'name': 'mno', 'designations': 'se'},
 {'id': 17, 'name': 'wxy', 'designations': 'se'},
 {'id': 18, 'name': 'qrs', 'designations': 'admin'},
 {'id': 19, 'name': 'wxy', 'designations': 'hr'},
 {'id': 20, 'name': 'abc', 'designations': 'sse'},
 {'id': 21, 'name': 'wxy', 'designations': 'se'},
 {'id': 22, 'name': 'mno', 'designations': 'admin'},
 {'id': 23, 'name': 'mno', 'designations': 'mgr'},
 {'id': 24, 'name': 'mno', 'designations': 'mgr'},
 {'id': 25, 'name': 'abc', 'designations': 'fin'},
 {'id': 26, 'name': 'abc', 'designations': 'fin'},
 {'id': 27, 'name': 'mno', 'designations': 'se'},
 {'id': 28, 'name': 'qrs', 'designations': 'admin'},
 {'id': 29, 'name': 'mno', 'designations': 'se'},
 {'id': 30, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 31, 'name': 'mno', 'designations': 'sse'},
 {'id': 32, 'name': 'qrs', 'designations': 'fin'},
 {'id': 33, 'name': 'qrs', 'designations': 'se'},
 {'id': 34, 'name': 'qrs', 'designations': 'hr'},
 {'id': 35, 'name': 'wxy', 'designations': 'fin'},
 {'id': 36, 'name': 'mno', 'designations': 'sse'},
 {'id': 37, 'name': 'abc', 'designations': 'sse'},
 {'id': 38, 'name': 'qrs', 'designations': 'se'},
 {'id': 39, 'name': 'mno', 'designations': 'admin'},
 {'id': 40, 'name': 'wxy', 'designations': 'fin'},
 {'id': 41, 'name': 'wxy', 'designations': 'hr'},
 {'id': 42, 'name': 'wxy', 'designations': 'hr'},
 {'id': 43, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 44, 'name': 'mno', 'designations': 'hr'},
 {'id': 45, 'name': 'qrs', 'designations': 'fin'},
 {'id': 46, 'name': 'qrs', 'designations': 'fin'},
 {'id': 47, 'name': 'qrs', 'designations': 'sse'},
 {'id': 48, 'name': 'mno', 'designations': 'se'},
 {'id': 49, 'name': 'abc', 'designations': 'fin'},
 {'id': 50, 'name': 'qrs', 'designations': 'hr'},
 {'id': 51, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 52, 'name': 'mno', 'designations': 'fin'},
 {'id': 53, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 54, 'name': 'abc', 'designations': 'admin'},
 {'id': 55, 'name': 'abc', 'designations': 'fin'},
 {'id': 56, 'name': 'qrs', 'designations': 'fin'},
 {'id': 57, 'name': 'qrs', 'designations': 'sse'},
 {'id': 58, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 59, 'name': 'mno', 'designations': 'sse'},
 {'id': 60, 'name': 'wxy', 'designations': 'se'},
 {'id': 61, 'name': 'mno', 'designations': 'fin'},
 {'id': 62, 'name': 'abc', 'designations': 'sse'},
 {'id': 63, 'name': 'wxy', 'designations': 'sse'},
 {'id': 64, 'name': 'wxy', 'designations': 'admin'},
 {'id': 65, 'name': 'qrs', 'designations': 'admin'},
 {'id': 66, 'name': 'mno', 'designations': 'admin'},
 {'id': 67, 'name': 'mno', 'designations': 'fin'},
 {'id': 68, 'name': 'qrs', 'designations': 'se'},
 {'id': 69, 'name': 'mno', 'designations': 'mgr'},
 {'id': 70, 'name': 'abc', 'designations': 'se'},
 {'id': 71, 'name': 'abc', 'designations': 'hr'},
 {'id': 72, 'name': 'qrs', 'designations': 'hr'},
 {'id': 73, 'name': 'abc', 'designations': 'hr'},
 {'id': 74, 'name': 'mno', 'designations': 'fin'},
 {'id': 75, 'name': 'qrs', 'designations': 'sse'},
 {'id': 76, 'name': 'qrs', 'designations': 'se'},
 {'id': 77, 'name': 'qrs', 'designations': 'sse'},
 {'id': 78, 'name': 'abc', 'designations': 'fin'},
 {'id': 79, 'name': 'mno', 'designations': 'fin'},
 {'id': 80, 'name': 'wxy', 'designations': 'admin'},
 {'id': 81, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 82, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 83, 'name': 'abc', 'designations': 'sse'},
 {'id': 84, 'name': 'mno', 'designations': 'fin'},
 {'id': 85, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 86, 'name': 'mno', 'designations': 'se'},
 {'id': 87, 'name': 'abc', 'designations': 'admin'},
 {'id': 88, 'name': 'mno', 'designations': 'admin'},
 {'id': 89, 'name': 'abc', 'designations': 'mgr'},
 {'id': 90, 'name': 'qrs', 'designations': 'admin'},
 {'id': 91, 'name': 'qrs', 'designations': 'fin'},
 {'id': 92, 'name': 'qrs', 'designations': 'se'},
 {'id': 93, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 94, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 95, 'name': 'qrs', 'designations': 'fin'},
 {'id': 96, 'name': 'wxy', 'designations': 'fin'},
 {'id': 97, 'name': 'abc', 'designations': 'se'},
 {'id': 98, 'name': 'abc', 'designations': 'mgr'},
 {'id': 99, 'name': 'mno', 'designations': 'admin'},
 {'id': 100, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 101, 'name': 'mno', 'designations': 'sse'},
 {'id': 102, 'name': 'mno', 'designations': 'sse'},
 {'id': 103, 'name': 'qrs', 'designations': 'admin'},
 {'id': 104, 'name': 'abc', 'designations': 'admin'},
 {'id': 105, 'name': 'mno', 'designations': 'fin'},
 {'id': 106, 'name': 'mno', 'designations': 'mgr'},
 {'id': 107, 'name': 'abc', 'designations': 'se'},
 {'id': 108, 'name': 'mno', 'designations': 'sse'},
 {'id': 109, 'name': 'mno', 'designations': 'fin'},
 {'id': 110, 'name': 'qrs', 'designations': 'admin'},
 {'id': 111, 'name': 'wxy', 'designations': 'se'},
 {'id': 112, 'name': 'qrs', 'designations': 'se'},
 {'id': 113, 'name': 'abc', 'designations': 'sse'},
 {'id': 114, 'name': 'wxy', 'designations': 'sse'},
 {'id': 115, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 116, 'name': 'mno', 'designations': 'mgr'},
 {'id': 117, 'name': 'abc', 'designations': 'hr'},
 {'id': 118, 'name': 'mno', 'designations': 'hr'},
 {'id': 119, 'name': 'qrs', 'designations': 'hr'},
 {'id': 120, 'name': 'wxy', 'designations': 'admin'},
 {'id': 121, 'name': 'abc', 'designations': 'hr'},
 {'id': 122, 'name': 'mno', 'designations': 'sse'},
 {'id': 123, 'name': 'wxy', 'designations': 'sse'},
 {'id': 124, 'name': 'qrs', 'designations': 'se'},
 {'id': 125, 'name': 'qrs', 'designations': 'admin'},
 {'id': 126, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 127, 'name': 'mno', 'designations': 'sse'},
 {'id': 128, 'name': 'abc', 'designations': 'fin'},
 {'id': 129, 'name': 'mno', 'designations': 'sse'},
 {'id': 130, 'name': 'qrs', 'designations': 'fin'},
 {'id': 131, 'name': 'mno', 'designations': 'se'},
 {'id': 132, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 133, 'name': 'abc', 'designations': 'admin'},
 {'id': 134, 'name': 'abc', 'designations': 'se'},
 {'id': 135, 'name': 'qrs', 'designations': 'admin'},
 {'id': 136, 'name': 'abc', 'designations': 'se'},
 {'id': 137, 'name': 'qrs', 'designations': 'hr'},
 {'id': 138, 'name': 'abc', 'designations': 'admin'},
 {'id': 139, 'name': 'wxy', 'designations': 'admin'},
 {'id': 140, 'name': 'abc', 'designations': 'fin'},
 {'id': 141, 'name': 'mno', 'designations': 'hr'},
 {'id': 142, 'name': 'abc', 'designations': 'mgr'},
 {'id': 143, 'name': 'abc', 'designations': 'hr'},
 {'id': 144, 'name': 'abc', 'designations': 'mgr'},
 {'id': 145, 'name': 'mno', 'designations': 'fin'},
 {'id': 146, 'name': 'abc', 'designations': 'mgr'},
 {'id': 147, 'name': 'mno', 'designations': 'mgr'},
 {'id': 148, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 149, 'name': 'mno', 'designations': 'sse'},
 {'id': 150, 'name': 'mno', 'designations': 'se'},
 {'id': 151, 'name': 'mno', 'designations': 'sse'},
 {'id': 152, 'name': 'abc', 'designations': 'mgr'},
 {'id': 153, 'name': 'wxy', 'designations': 'sse'},
 {'id': 154, 'name': 'wxy', 'designations': 'sse'},
 {'id': 155, 'name': 'qrs', 'designations': 'hr'},
 {'id': 156, 'name': 'abc', 'designations': 'se'},
 {'id': 157, 'name': 'wxy', 'designations': 'se'},
 {'id': 158, 'name': 'qrs', 'designations': 'sse'},
 {'id': 159, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 160, 'name': 'qrs', 'designations': 'hr'},
 {'id': 161, 'name': 'abc', 'designations': 'hr'},
 {'id': 162, 'name': 'qrs', 'designations': 'sse'},
 {'id': 163, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 164, 'name': 'qrs', 'designations': 'sse'},
 {'id': 165, 'name': 'qrs', 'designations': 'fin'},
 {'id': 166, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 167, 'name': 'wxy', 'designations': 'sse'},
 {'id': 168, 'name': 'qrs', 'designations': 'fin'},
 {'id': 169, 'name': 'mno', 'designations': 'se'},
 {'id': 170, 'name': 'mno', 'designations': 'se'},
 {'id': 171, 'name': 'wxy', 'designations': 'hr'},
 {'id': 172, 'name': 'qrs', 'designations': 'se'},
 {'id': 173, 'name': 'abc', 'designations': 'sse'},
 {'id': 174, 'name': 'mno', 'designations': 'fin'},
 {'id': 175, 'name': 'qrs', 'designations': 'fin'},
 {'id': 176, 'name': 'abc', 'designations': 'sse'},
 {'id': 177, 'name': 'mno', 'designations': 'sse'},
 {'id': 178, 'name': 'mno', 'designations': 'se'},
 {'id': 179, 'name': 'mno', 'designations': 'se'},
 {'id': 180, 'name': 'wxy', 'designations': 'admin'},
 {'id': 181, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 182, 'name': 'abc', 'designations': 'mgr'},
 {'id': 183, 'name': 'qrs', 'designations': 'hr'},
 {'id': 184, 'name': 'abc', 'designations': 'fin'},
 {'id': 185, 'name': 'mno', 'designations': 'fin'},
 {'id': 186, 'name': 'wxy', 'designations': 'fin'},
 {'id': 187, 'name': 'wxy', 'designations': 'se'},
 {'id': 188, 'name': 'mno', 'designations': 'sse'},
 {'id': 189, 'name': 'qrs', 'designations': 'hr'},
 {'id': 190, 'name': 'wxy', 'designations': 'fin'},
 {'id': 191, 'name': 'qrs', 'designations': 'se'},
 {'id': 192, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 193, 'name': 'qrs', 'designations': 'sse'},
 {'id': 194, 'name': 'abc', 'designations': 'mgr'},
 {'id': 195, 'name': 'abc', 'designations': 'admin'},
 {'id': 196, 'name': 'abc', 'designations': 'hr'},
 {'id': 197, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 198, 'name': 'abc', 'designations': 'hr'},
 {'id': 199, 'name': 'abc', 'designations': 'mgr'},
 {'id': 200, 'name': 'mno', 'designations': 'mgr'},
 {'id': 201, 'name': 'abc', 'designations': 'hr'},
 {'id': 202, 'name': 'qrs', 'designations': 'se'},
 {'id': 203, 'name': 'qrs', 'designations': 'hr'},
 {'id': 204, 'name': 'qrs', 'designations': 'admin'},
 {'id': 205, 'name': 'qrs', 'designations': 'fin'},
 {'id': 206, 'name': 'wxy', 'designations': 'se'},
 {'id': 207, 'name': 'wxy', 'designations': 'admin'},
 {'id': 208, 'name': 'wxy', 'designations': 'fin'},
 {'id': 209, 'name': 'qrs', 'designations': 'admin'},
 {'id': 210, 'name': 'qrs', 'designations': 'admin'},
 {'id': 211, 'name': 'qrs', 'designations': 'sse'},
 {'id': 212, 'name': 'qrs', 'designations': 'se'},
 {'id': 213, 'name': 'qrs', 'designations': 'admin'},
 {'id': 214, 'name': 'abc', 'designations': 'se'},
 {'id': 215, 'name': 'mno', 'designations': 'fin'},
 {'id': 216, 'name': 'qrs', 'designations': 'hr'},
 {'id': 217, 'name': 'abc', 'designations': 'admin'},
 {'id': 218, 'name': 'qrs', 'designations': 'fin'},
 {'id': 219, 'name': 'qrs', 'designations': 'fin'},
 {'id': 220, 'name': 'wxy', 'designations': 'se'},
 {'id': 221, 'name': 'abc', 'designations': 'mgr'},
 {'id': 222, 'name': 'abc', 'designations': 'sse'},
 {'id': 223, 'name': 'wxy', 'designations': 'sse'},
 {'id': 224, 'name': 'mno', 'designations': 'mgr'},
 {'id': 225, 'name': 'qrs', 'designations': 'sse'},
 {'id': 226, 'name': 'mno', 'designations': 'mgr'},
 {'id': 227, 'name': 'qrs', 'designations': 'sse'},
 {'id': 228, 'name': 'qrs', 'designations': 'se'},
 {'id': 229, 'name': 'mno', 'designations': 'mgr'},
 {'id': 230, 'name': 'abc', 'designations': 'sse'},
 {'id': 231, 'name': 'mno', 'designations': 'admin'},
 {'id': 232, 'name': 'mno', 'designations': 'fin'},
 {'id': 233, 'name': 'abc', 'designations': 'sse'},
 {'id': 234, 'name': 'mno', 'designations': 'fin'},
 {'id': 235, 'name': 'abc', 'designations': 'hr'},
 {'id': 236, 'name': 'qrs', 'designations': 'fin'},
 {'id': 237, 'name': 'abc', 'designations': 'mgr'},
 {'id': 238, 'name': 'abc', 'designations': 'mgr'},
 {'id': 239, 'name': 'wxy', 'designations': 'admin'},
 {'id': 240, 'name': 'abc', 'designations': 'hr'},
 {'id': 241, 'name': 'qrs', 'designations': 'admin'},
 {'id': 242, 'name': 'qrs', 'designations': 'fin'},
 {'id': 243, 'name': 'mno', 'designations': 'fin'},
 {'id': 244, 'name': 'abc', 'designations': 'admin'},
 {'id': 245, 'name': 'qrs', 'designations': 'hr'},
 {'id': 246, 'name': 'qrs', 'designations': 'se'},
 {'id': 247, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 248, 'name': 'mno', 'designations': 'hr'},
 {'id': 249, 'name': 'mno', 'designations': 'admin'},
 {'id': 250, 'name': 'qrs', 'designations': 'sse'},
 {'id': 251, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 252, 'name': 'wxy', 'designations': 'sse'},
 {'id': 253, 'name': 'qrs', 'designations': 'admin'},
 {'id': 254, 'name': 'qrs', 'designations': 'admin'},
 {'id': 255, 'name': 'abc', 'designations': 'admin'},
 {'id': 256, 'name': 'mno', 'designations': 'mgr'},
 {'id': 257, 'name': 'qrs', 'designations': 'sse'},
 {'id': 258, 'name': 'mno', 'designations': 'sse'},
 {'id': 259, 'name': 'qrs', 'designations': 'se'},
 {'id': 260, 'name': 'mno', 'designations': 'sse'},
 {'id': 261, 'name': 'mno', 'designations': 'hr'},
 {'id': 262, 'name': 'mno', 'designations': 'admin'},
 {'id': 263, 'name': 'abc', 'designations': 'hr'},
 {'id': 264, 'name': 'wxy', 'designations': 'hr'},
 {'id': 265, 'name': 'abc', 'designations': 'admin'},
 {'id': 266, 'name': 'wxy', 'designations': 'hr'},
 {'id': 267, 'name': 'abc', 'designations': 'sse'},
 {'id': 268, 'name': 'qrs', 'designations': 'hr'},
 {'id': 269, 'name': 'abc', 'designations': 'mgr'},
 {'id': 270, 'name': 'mno', 'designations': 'hr'},
 {'id': 271, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 272, 'name': 'mno', 'designations': 'sse'},
 {'id': 273, 'name': 'qrs', 'designations': 'sse'},
 {'id': 274, 'name': 'mno', 'designations': 'sse'},
 {'id': 275, 'name': 'mno', 'designations': 'mgr'},
 {'id': 276, 'name': 'wxy', 'designations': 'fin'},
 {'id': 277, 'name': 'mno', 'designations': 'mgr'},
 {'id': 278, 'name': 'abc', 'designations': 'se'},
 {'id': 279, 'name': 'abc', 'designations': 'admin'},
 {'id': 280, 'name': 'mno', 'designations': 'hr'},
 {'id': 281, 'name': 'abc', 'designations': 'hr'},
 {'id': 282, 'name': 'mno', 'designations': 'se'},
 {'id': 283, 'name': 'abc', 'designations': 'sse'},
 {'id': 284, 'name': 'qrs', 'designations': 'fin'},
 {'id': 285, 'name': 'qrs', 'designations': 'hr'},
 {'id': 286, 'name': 'qrs', 'designations': 'fin'},
 {'id': 287, 'name': 'mno', 'designations': 'fin'},
 {'id': 288, 'name': 'abc', 'designations': 'sse'},
 {'id': 289, 'name': 'wxy', 'designations': 'se'},
 {'id': 290, 'name': 'abc', 'designations': 'mgr'},
 {'id': 291, 'name': 'mno', 'designations': 'hr'},
 {'id': 292, 'name': 'wxy', 'designations': 'se'},
 {'id': 293, 'name': 'wxy', 'designations': 'se'},
 {'id': 294, 'name': 'qrs', 'designations': 'fin'},
 {'id': 295, 'name': 'qrs', 'designations': 'sse'},
 {'id': 296, 'name': 'qrs', 'designations': 'admin'},
 {'id': 297, 'name': 'mno', 'designations': 'fin'},
 {'id': 298, 'name': 'wxy', 'designations': 'se'},
 {'id': 299, 'name': 'qrs', 'designations': 'fin'},
 {'id': 300, 'name': 'qrs', 'designations': 'sse'},
 {'id': 301, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 302, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 303, 'name': 'mno', 'designations': 'admin'},
 {'id': 304, 'name': 'mno', 'designations': 'hr'},
 {'id': 305, 'name': 'qrs', 'designations': 'hr'},
 {'id': 306, 'name': 'mno', 'designations': 'hr'},
 {'id': 307, 'name': 'mno', 'designations': 'sse'},
 {'id': 308, 'name': 'mno', 'designations': 'admin'},
 {'id': 309, 'name': 'abc', 'designations': 'hr'},
 {'id': 310, 'name': 'abc', 'designations': 'se'},
 {'id': 311, 'name': 'qrs', 'designations': 'fin'},
 {'id': 312, 'name': 'qrs', 'designations': 'admin'},
 {'id': 313, 'name': 'abc', 'designations': 'mgr'},
 {'id': 314, 'name': 'mno', 'designations': 'admin'},
 {'id': 315, 'name': 'mno', 'designations': 'mgr'},
 {'id': 316, 'name': 'wxy', 'designations': 'admin'},
 {'id': 317, 'name': 'abc', 'designations': 'hr'},
 {'id': 318, 'name': 'mno', 'designations': 'admin'},
 {'id': 319, 'name': 'wxy', 'designations': 'hr'},
 {'id': 320, 'name': 'abc', 'designations': 'se'},
 {'id': 321, 'name': 'wxy', 'designations': 'sse'},
 {'id': 322, 'name': 'mno', 'designations': 'se'},
 {'id': 323, 'name': 'abc', 'designations': 'fin'},
 {'id': 324, 'name': 'mno', 'designations': 'admin'},
 {'id': 325, 'name': 'abc', 'designations': 'hr'},
 {'id': 326, 'name': 'wxy', 'designations': 'sse'},
 {'id': 327, 'name': 'mno', 'designations': 'se'},
 {'id': 328, 'name': 'wxy', 'designations': 'fin'},
 {'id': 329, 'name': 'mno', 'designations': 'hr'},
 {'id': 330, 'name': 'mno', 'designations': 'fin'},
 {'id': 331, 'name': 'mno', 'designations': 'sse'},
 {'id': 332, 'name': 'qrs', 'designations': 'sse'},
 {'id': 333, 'name': 'mno', 'designations': 'admin'},
 {'id': 334, 'name': 'abc', 'designations': 'admin'},
 {'id': 335, 'name': 'mno', 'designations': 'sse'},
 {'id': 336, 'name': 'abc', 'designations': 'admin'},
 {'id': 337, 'name': 'mno', 'designations': 'sse'},
 {'id': 338, 'name': 'qrs', 'designations': 'fin'},
 {'id': 339, 'name': 'qrs', 'designations': 'admin'},
 {'id': 340, 'name': 'qrs', 'designations': 'sse'},
 {'id': 341, 'name': 'abc', 'designations': 'se'},
 {'id': 342, 'name': 'wxy', 'designations': 'admin'},
 {'id': 343, 'name': 'wxy', 'designations': 'admin'},
 {'id': 344, 'name': 'mno', 'designations': 'se'},
 {'id': 345, 'name': 'wxy', 'designations': 'admin'},
 {'id': 346, 'name': 'abc', 'designations': 'admin'},
 {'id': 347, 'name': 'abc', 'designations': 'sse'},
 {'id': 348, 'name': 'abc', 'designations': 'mgr'},
 {'id': 349, 'name': 'mno', 'designations': 'hr'},
 {'id': 350, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 351, 'name': 'abc', 'designations': 'se'},
 {'id': 352, 'name': 'mno', 'designations': 'se'},
 {'id': 353, 'name': 'abc', 'designations': 'admin'},
 {'id': 354, 'name': 'qrs', 'designations': 'se'},
 {'id': 355, 'name': 'wxy', 'designations': 'hr'},
 {'id': 356, 'name': 'mno', 'designations': 'hr'},
 {'id': 357, 'name': 'mno', 'designations': 'mgr'},
 {'id': 358, 'name': 'mno', 'designations': 'admin'},
 {'id': 359, 'name': 'mno', 'designations': 'fin'},
 {'id': 360, 'name': 'abc', 'designations': 'sse'},
 {'id': 361, 'name': 'abc', 'designations': 'hr'},
 {'id': 362, 'name': 'abc', 'designations': 'admin'},
 {'id': 363, 'name': 'abc', 'designations': 'sse'},
 {'id': 364, 'name': 'qrs', 'designations': 'hr'},
 {'id': 365, 'name': 'wxy', 'designations': 'hr'},
 {'id': 366, 'name': 'wxy', 'designations': 'sse'},
 {'id': 367, 'name': 'abc', 'designations': 'admin'},
 {'id': 368, 'name': 'wxy', 'designations': 'hr'},
 {'id': 369, 'name': 'abc', 'designations': 'admin'},
 {'id': 370, 'name': 'qrs', 'designations': 'admin'},
 {'id': 371, 'name': 'qrs', 'designations': 'se'},
 {'id': 372, 'name': 'qrs', 'designations': 'hr'},
 {'id': 373, 'name': 'wxy', 'designations': 'se'},
 {'id': 374, 'name': 'mno', 'designations': 'sse'},
 {'id': 375, 'name': 'mno', 'designations': 'admin'},
 {'id': 376, 'name': 'mno', 'designations': 'fin'},
 {'id': 377, 'name': 'qrs', 'designations': 'sse'},
 {'id': 378, 'name': 'mno', 'designations': 'admin'},
 {'id': 379, 'name': 'abc', 'designations': 'admin'},
 {'id': 380, 'name': 'wxy', 'designations': 'hr'},
 {'id': 381, 'name': 'wxy', 'designations': 'se'},
 {'id': 382, 'name': 'qrs', 'designations': 'se'},
 {'id': 383, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 384, 'name': 'wxy', 'designations': 'sse'},
 {'id': 385, 'name': 'mno', 'designations': 'sse'},

In [81]:
def frange(start, stop, increment):
    x = start
    while x < stop:
        yield x
        x += increment

In [83]:
c = frange(0, 4, 0.5)
print(type(c))

for n in frange(0, 4, 0.5):
    print(n)

<class 'generator'>
0
0.5
1.0
1.5
2.0
2.5
3.0
3.5

In [93]:
def countdown(n):
    print("starting to count from", n)
    while n > 0:
        yield n
        n -= 1
    print("Done")

In [94]:
c = countdown(3)

In [89]:
next(c)

starting to count from 3

3

In [90]:
next(c)

2

In [91]:
next(c)

1

In [95]:
list(c)

starting to count from 3
Done

[3, 2, 1]

In [96]:
a = [1,2,3,4,5]
for x in reversed(a):
    print(x)

5
4
3
2
1

In [97]:
items = ['a','b','c']
from itertools import permutations
for p in permutations(items):
    print(p)

('a', 'b', 'c')
('a', 'c', 'b')
('b', 'a', 'c')
('b', 'c', 'a')
('c', 'a', 'b')
('c', 'b', 'a')

In [99]:
from itertools import combinations
for c in combinations(items, 3):
    print(c)

('a', 'b', 'c')

In [100]:
from itertools import combinations
for c in combinations(items, 2):
    print(c)

('a', 'b')
('a', 'c')
('b', 'c')

In [101]:
from itertools import combinations
for c in combinations(items, 1):
    print(c)

('a',)
('b',)
('c',)

In [102]:
# enumerate to the track of sequence and element in terms of index and value

mylist = ['a','b','c']
for idx, val in enumerate(mylist):
    print(idx, val)

0 a
1 b
2 c

In [103]:
for idx, val in enumerate(mylist, 1):
    print(idx, val)

1 a
2 b
3 c

In [104]:
# zip iterator
x = [1,2,3,4,5]
y = [101,102,103,104,105]

for i, j in zip(x, y):
    print(i, j)

1 101
2 102
3 103
4 104
5 105

In [105]:
# zip iterator
x = [1,2,3,4,5]
y = [101,102,103,104,105]
d = {}
for i, j in zip(x, y):
    d[i] = j
print(d)

{1: 101, 2: 102, 3: 103, 4: 104, 5: 105}

In [106]:
a = [1,2,3]
b = ['w', 'x', 'y', 'z']
for i in zip(a,b):
    print(i)

(1, 'w')
(2, 'x')
(3, 'y')

In [107]:
from itertools import zip_longest
for i in zip_longest(a,b):
    print(i)

(1, 'w')
(2, 'x')
(3, 'y')
(None, 'z')

In [108]:
a = [1,2,3]
b = ['w', 'x', 'y']
c = [10,11,12]
for i in zip(a,b,c):
    print(i)

(1, 'w', 10)
(2, 'x', 11)
(3, 'y', 12)

In [109]:
from itertools import chain
for x in chain(a,b,c):
    print(x)

1
2
3
w
x
y
10
11
12

In [122]:
# flattening the nested sequence
from collections import Iterable

def flatten(items, ignore_type=(str, bytes)):
    for x in items:
        if isinstance(x, Iterable) and not isinstance(x, ignore_type):
            yield from flatten(x)
        else:
            yield x

In [123]:
items = [1, 2, [3,4, [5,6],7], 8]

for x in flatten(items):
    print(x)

1
2
3
4
5
6
7
8

In [124]:
items = ['john', ['ate','fred'],'tom']

for x in flatten(items):
    print(x)

john
ate
fred
tom

In [2]:
# files

with open('sample.txt', 'rt') as f:
    data = f.read()
print(data)

hi
hello

In [3]:
# iterate over the line of files
with open('sample.txt', 'rt') as f:
    for line in f:
        # process line
        print(line)

hi

hello

In [127]:
# redirected output
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [128]:
with open('abc.txt', 'wt') as f:
    print('hi', file=f)
    print("hello", file=f)

In [129]:
with open('abc.txt', 'rt') as f:
    print(f.read())

hi
hello

In [1]:
with open('sample.txt', 'wt') as f:
    print('hi', file=f)
    print("hello", file=f)